<app-dialog-center header="Dialog Center" [headerButtonSettings]="buttonSettings">
  <app-dialog-body>
    Dialog Center Level: {{ formData.level }}
    <button (click)="openDialog1()" mdbBtn type="button" color="elegant" mdbWavesEffect>
      Open Dialog 1
    </button>
    <button (click)="openDialog2()" mdbBtn type="button" color="elegant" mdbWavesEffect>
      Open Dialog 2
    </button>
    <button (click)="openDialog3()" mdbBtn type="button" color="elegant" mdbWavesEffect>
      Open Dialog 3
    </button>
    <button (click)="openDisableClose()" mdbBtn type="button" color="elegant" mdbWavesEffect>
      Open Disable Close
    </button>
    <button (click)="openDialogCenter()" mdbBtn type="button" color="elegant" mdbWavesEffect>
      Open Dialog Center
    </button>
  </app-dialog-body>
</app-dialog-center>
