<app-dialog-right-lg
  header="Dialog 1"
  [headerButtonSettings]="buttonSettings"
  [tooltipSettings]="headerTooltipMenuSettings"
>
  <app-dialog-body>
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col">
          <div class="alert alert-info" role="alert">
            Dialog 1 Level: {{ formData.level }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            (click)="openDisableClose()"
            mdbBtn
            type="button"
            color="info"
            mdbWavesEffect
          >
            Open Disable Close
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            (click)="openDialogCenter()"
            mdbBtn
            type="button"
            color="warning"
            mdbWavesEffect
          >
            Open Dialog Center
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            (click)="openNoty()"
            mdbBtn
            type="button"
            color="success"
            mdbWavesEffect
          >
            Noty
          </button>
        </div>
      </div>
    </div>
  </app-dialog-body>
</app-dialog-right-lg>
