<div class="container-fluid">
    <div class="row no-gutters mt-3">
      <div class="col">
        <div class="card">
          <div class="row justify-content-around no-gutters border border-secondary border-top-0 border-right-0 border-left-0 app-toolmenu--height primary-color-dark">
            <div class="col-3 text-center p-0 ">
              <div class="row h-100 align-items-center no-gutters ">
                <div class="col text-center px-3">
                    <app-date-picker [datePickerParams]="singleDatePickerSettings"></app-date-picker>
                </div>
              </div>
            </div>
            <div class="col-3 text-center p-0 ">
              <div class="row h-100 align-items-center no-gutters ">
                <div class="col text-center px-3">
                    <app-date-picker [datePickerParams]="rangeDatePickerSettings"></app-date-picker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





