<div class="jumbotron h-100 p-4">
  <h2 class="h1 h1-responsive">Hello, world!</h2>
  <p class="lead">
    Angular 7 was just released and while it doesn’t bring a lot of new
    features, there are some very interesting new tooling changes as well as
    some great features to improve performance. This app example shows some of
    this new features.
  </p>
  <hr class="my-2" />
  <p>
    The examples here are built using
    <a href="https://material.angular.io/" target="_blank">Angular Material</a>
    and
    <a href="https://mdbootstrap.com/docs/angular/" target="_blank"
      >MDB Angular</a
    >
  </p>
  <!--
    <a class="btn btn-primary btn-lg waves-light" role="button" mdbWavesEffect>Learn more</a>
  -->
</div>
